<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playwithmind.earnrewards">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:label="Play With Mind - Earn Rewards"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".OtpVerifyActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
    </application>
</manifest>
